{{ define "layouts/header.html" }}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Geeks beginner</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

  <!-- rrweb -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.js"></script>

  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/style.css"/>
  <script src="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/index.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/record/rrweb-record.min.js"></script>

  <script>
    let events = [];

    rrweb.record({
    emit(event) {
      // push event into the events array
      events.push(event);
    },
    });

    // this function will send events to the backend and reset the events array
    function save() {
      const body = JSON.stringify({ events });
      events = [];
      fetch('http://localhost:3000/event', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      body,
      });
    }

    // save events every 10 seconds
    setInterval(save, 10 * 1000);
  </script>
  
</head>

<body>
  <title>{{ .title }}</title>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Geeksbeginner</a>
      <a class="navbar-brand" href="/#features">Products & Services</a>
      <a class="navbar-brand" href="/about">About</a>
      <a class="navbar-brand" href="/contact">Contact</a>
      <a class="btn btn-primary" href="#">Sign In</a>
    </div>
  </nav>
{{ end }}
